always-auth=false
email=thomas.perkins@novartis.com
registry=https://repo.nibr.novartis.net/artifactory/api/npm/npm
proxy=http://nibr-proxy.global.nibr.novartis.net:2011/
https-proxy=http://nibr-proxy.global.nibr.novartis.net:2011/
